@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;1,500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;1,500&family=Open+Sans:ital,wght@1,300;1,800&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #fefefe;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

h1 {
  font-family: "Montserrat", sans-serif;
}
h3 {
  font-family: "Open Sans", sans-serif;
  line-height: 70px;
  font-size: 56px;
  color: #1e1e1e;
  line-height: 35px;
  margin: 10px;
  padding-left: 0px;
}

h3.vermelho {
  color: rgb(168, 1, 1);
  margin: 0px;
}

h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin: 0px;
}

button {
  height: 56px;
  border-radius: 16px;
  background-color: rgb(168, 1, 1);
  border-width: 0px;
  color: #fefefe;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.16rem;
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
}

li {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 12px;
}

footer {
  display: flex;
  width: 100vw;
  height: 156px;
  background-color: #949494;
  align-items: center;
  justify-content: center;
}

.root-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.content-container {
  display: flex;
  flex-direction: column;
  width: 1216px;
  align-items: center;
  justify-content: flex-start;
}

.section-hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 90vh;
  background-color: #fefefe;
}

.barra-navegacao {
  display: flex;
  width: 1216px;
  height: 72px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 64px;
}

.titulo-navegacao {
  color: #1e1e1e;
  font-size: 24px;
  letter-spacing: -0.015rem;
  font-weight: bold;
}

.links-navegacao {
  color: #1e1e1e;
  font-size: 16px;
  letter-spacing: -0.015rem;
  margin-right: 18px;
  cursor: pointer;
}

.hero-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1216px;
  height: 594px;
  padding-top: 64px;
}

.hero-info-title {
  font-size: 48px;
  font-weight: bold;
  margin: 0px;
  line-height: 45px;
}

.hero-info-subtitle {
  font-size: 20px;
  line-height: 28px;
  max-width: 70%;
  margin-top: 50px;
}

.hero-info-image {
  height: 594px;
  width: 542px;
  border-radius: 40px;
  border-color: rgb(168, 1, 1);
  border-width: 4px;
  border-style: solid;
}

.hero-info-icons-container {
  display: flex;
  flex-direction: row;
  widows: 50%;
  align-items: center;
  justify-content: flex-start;
  margin-top: 24px;
}

.hero-info-icons-img {
  width: 50px;
  height: 45px;
  cursor: pointer;
  margin: 0 7px;
}

.section-abilities {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding-top: 64px;
  padding-bottom: 64px;
}

.ability-card-container {
  display: grid;
  width: 100%;
  column-gap: 48px;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  justify-content: center;
  align-content: center;
  margin-top: 48px;
}

.ability-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 312px;
  height: 690px;
  border-width: 1px;
  border-color: #d9d9d9;
  border-radius: 12px;
  border-style: solid;
  padding-top: 16px;
}

.ability-card-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  background-color: rgb(168, 1, 1);
  margin-bottom: 12px;
}

.ability-card-icon-image {
  width: 40px;
  height: 40px;
}

.ability-card-subtitle {
  font-size: 20px;
  margin-top: 8;
  text-align: center;
  max-width: 80%;
}

.ability-list {
  width: 90%;
}

.section-portifolio {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-portifolio-grid {
  display: grid;
  width: 100%;
  column-gap: 48px;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  justify-content: center;
  align-content: center;
  margin-top: 48px;
}

.section-portifolio-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 384px;
  height: 300px;
  border-width: 2px;
  border-color: #d9d9d9;
  border-style: solid;
  border-radius: 24px;
}

.section-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
  width: 100%;
}

.section-contact-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.section-contact-item-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.footer-content {
  display: flex;
  flex-direction: row;
  width: 1216px;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 12px, 0px, 12px, 0px;
}

.footer-social-icons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 40%;
}

/* responsive */
@media screen and (max-width: 1400px) {
  .section-abilities {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding-top: 300px;
    padding-bottom: 64px;
  }
}
